.shuffle-analyzer {
  background-color: #111111;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  height: 100%;
  width: 100%;
}
.shuffle-analyzer img{
  height: 56px;
  width: 56px;
}

.shuffle-analyzer-shuffle-distribution {
  width: 100%;
}