.player {
  align-items: center;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 16px;
}

.player-info {
  align-items: center;
  display: flex;
  min-width: 180px;
  width: 30%;
}
.player-info-cover img{
  height: 56px;
  width: 56px;
}
.player-info-details {
  display: grid;
  grid-template:
    "title"
    "artist";
  column-gap: 8px;
  margin: 0 14px;
  align-items: center;
  font-weight: 400;
  text-align: left;
}
.player-info-details-title {
  grid-area: title;
  font-size: 14px;
  color: #fff;
}
.player-info-details-artist {
  grid-area: artist;
  font-size: 11px;
  color: #bbb;
}

.player-controls {
  align-items: center;
  display: flex;
  width: 40%;
}
.player-controls-progress {
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: space-between;
  width: 100%;
}
.player-controls-progress-elapsed,
.player-controls-progress-duration {
  color: #bbb;
  font-size: 11px;
  min-width: 40px;
}
.player-controls-progress-elapsed {
  text-align: right;
}
.player-controls-progress-duration {
  text-align: left;
}
.player-controls-progress-bar {
  align-items: center;
  height: 12px;
  width: 100%;
}
.player-controls-progress-bar-total {
  background-color: #555;
  border-radius: 2px;
  height: 4px;
  margin-top: 4px;
}
.player-controls-progress-bar-elapsed {
  background-color: #bbb;
  border-radius: 2px;
  height: 4px;
  margin-top: -4px;
}
