.root,
.App,
.app-grid {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.App {
  text-align: center;
  color: #333;
}

.app-grid {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 100px;
  width: 100vw;
  height: 100vh;
}
.app-header {
  grid-area: header;
  z-index: 4;
}
.app-sidebar {
  grid-area: sidebar;
}
.app-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}
.app-footer {
  grid-area: footer;
  width: 100%;
  z-index: 10;
}


.btn-spotify {
  margin-top: 20px;
}
.btn-spotify a:hover {
  transition: all .1s;
  transform: scale(1.08);
}
.btn-spotify a:focus {
  transition: all .1s;
  transform: scale(1);
}
.btn-spotify a {
  box-sizing: border-box;
  color: #0000ee;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .1s;
  transform: scale(1);
}
.btn-spotify a>div {
  display: flex;
  align-items: center;
  background-color: #1ed760;
  border-radius: 500px;
  padding: 17px 48px;
}
