.App ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-color: #fff;
}
.App ::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-color: #fff;
}
.App ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
  width: 8px;
}
.App ::-webkit-scrollbar-track {
  color: black;
}
.App ::-webkit-scrollbar {
  width: 8px;
}

.root,
.App,
.app-grid {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.App {
  text-align: center;
  color: #333;
}

.app-grid {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 64px 1fr 90px;
  width: 100vw;
  height: 100vh;
}
.app-header {
  grid-area: header;
  z-index: 4;
}
.app-sidebar {
  grid-area: sidebar;
}
.app-content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  position: relative;
  overflow-y: auto;
}
.app-footer {
  grid-area: footer;
  width: 100%;
  z-index: 10;
}
